﻿@model Vehicle.Models.Car

@{
    ViewBag.Title = "Details";
}

<h2>Car Details</h2>

<div>
    <table>
        <tr class="table-borderless;" >
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>

            <td>
                @Html.DisplayFor(model => model.Make)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>

            <td>
                @Html.DisplayFor(model => model.Model)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Engine)
            </th>

            <td>
                @Html.DisplayFor(model => model.Engine)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doors)
            </th>

            <td>
                @Html.DisplayFor(model => model.Doors)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wheels)
            </th>

            <td>
                @Html.DisplayFor(model => model.Wheels)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>

            <td>
                @Html.DisplayFor(model => model.Type)
            </td>

        </tr>
    </table>
</div>
<br />
<br />
<br />
<p>
    @Html.ActionLink("Add more Vehicles", "/Index", "VehicleTypes")
</p>


