﻿@model IEnumerable<Vehicle.Models.V_VehicleType>

@{
    ViewBag.Title = "Vehicle Type";
}
  



    <div class="row align-items-center">
        <div class="col-lg-6" >
            <h2 class="center-block">Create A Vehilce</h2>
        </div>
        <div class="col-lg-4" >
            
                <div>
                    @Html.DropDownList("Vehicle_Types", new SelectList(Model, "TypeID", "Name", "Select a Vehicle"), "Select Vehicle", new { @class = "nav-link dropdown-toggle" })
                </div>
            
        </div>

        </div>
