﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Create A Vehicle</title>
    <link href="~/Content/grayscale.min.css" rel="stylesheet" />
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
        <a href="/VehicleTypes/Index">Home</a>
    </div>
    <div class="container body-content">
        @RenderBody()
        
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    

    @Scripts.Render("~/Scripts/custom.js")
    
    @RenderSection("scripts", required: false)
</body>
</html>
